<div class="vega-editor-container">
    <div class="row">
      <div class="viz-dark-loading" v-if="loading">
        <spinner :loading="loading" />
      </div>    
    </div>
    <div class="row">
      <div class="col">
        <div class="accordion" id="rightPanel">
          <div class="accordion-item">
            <h2 class="accordion-header" id="query-heading">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#query-collapse" aria-expanded="true" aria-controls="query-collapse">
                Query
              </button>
            </h2>
            <div id="query-collapse" class="accordion-collapse collapse show" aria-labelledby="query-heading">
              <div class="accordion-body">
                <yasqe v-if="query"
                      style="height: max-content"
                      :value="query"
                      :readOnly="queryEditorReadOnly"
                      @input="setQuery"
                      @query-success="onQuerySuccess"
                      @query-error="onQueryError"/>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="vega-heading">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#vega-collapse" aria-expanded="true" aria-controls="vega-collapse">
                Chart Design
              </button>
            </h2>
            <div id="vega-collapse" class="accordion-collapse collapse show" aria-labelledby="vega-heading">
              <div class="accordion-body">
                <v-jsoneditor v-if="baseSpec"
                              height="500px"
                              :value="baseSpec"
                              @input="setBaseSpec"
                              :options="specJsonEditorOpts"
                              :error="onSpecJsonError">
                </v-jsoneditor>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="save-heading">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#save-collapse" aria-expanded="false" aria-controls="save-collapse">
              </button>
            </h2>
            <div id="save-collapse" class="accordion-collapse collapse" aria-labelledby="save-heading">
              <div class="accordion-body">
                <form class="title-form" @submit.prevent="saveChart">
                  <div style="display: block; flex: 1">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" name="chart-title" id="chart-title" :value="title" @input="setTitle" placeholder="Title">
                      <label for="chart-title">Title</label>
                    </div>
                  </div>
                  <div style="display: block;">
                    <div class="form-floating mb-3">
                      <textarea class="form-control" name="chart-description" id="chart-description" :value="description" @input="setDescription" placeholder="Description" style="height: 100px"></textarea>
                      <label for="chart-description">Description</label>
                    </div>
                  </div>
                  <div style="display: block;">
                    <button type="submit" class="btn btn-primary">{{ actionType }} <i class="bi bi-check text-success"></i></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <ul class="nav nav-tabs" id="rightTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" 
                    id="chart-tab" 
                    data-bs-toggle="tab" 
                    data-bs-target="#chart" 
                    type="button" 
                    role="tab" 
                    aria-controls="chart" 
                    aria-selected="true">
              Chart
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" 
                    id="query-tab" 
                    data-bs-toggle="tab" 
                    data-bs-target="#results" 
                    type="button" 
                    role="tab" 
                    aria-controls="results" 
                    aria-selected="true">
              Results
            </button>
          </li>
        </ul>
        <div v-if="sparqlError">
          <div class="alert alert-danger">
            The SPARQL query failed to execute.  Please ensure syntax is valid and try again.
          </div>
        </div>
        <div class="tab-content" id="rightTabContent">
          <div 
            class="tab-pane fade show active"
            id="chart" 
            role="tabpanel" 
            aria-labelledby="chart-tab">
            <vega-lite :spec="spec" @new-vega-view="onNewVegaView" style="height: max-content"/>
          </div>
          <div 
            class="tab-pane fade show"
            id="results" 
            role="tabpanel" 
            aria-labelledby="results-tab">
            <yasr v-bind:results="results"></yasr>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap floating action button replacement -->
  <div class="position-fixed bottom-0 end-0 m-4">
    <button type="button" class="btn btn-primary rounded-circle p-3" @click.prevent="navBack">
      <i class="bi bi-arrow-left"></i>
      <span class="visually-hidden">Go Back</span>
    </button>
  </div>
