<div>
  <div class="viz-dark-loading" v-if="loading">
    <spinner :loading="loading" />
  </div>
  <!-- Temporary CSS Grid replacement for split-pane -->
  <div class="vega-editor-container" style="display: grid; grid-template-columns: 1fr 1fr; height: 100vh; gap: 10px;">
    <div class="vega-editor-left">
      <div class="">
        <div class="viz-editor-tabs" @click="showTabNavigation">
          <div class="viz-editor-tabs-item" id="showtabs" :style="!showAllTabBtn ? showAllTabs : false">
            <span class="material-icons">
              double_arrow
            </span>
          </div>
          <div class="viz-editor-tabs-item tabselected" id="sparql" @click="tabNavigation" :style="showAllTabBtn ? showAllTabs : false">
            Sparql
            <!-- <md-tooltip md-direction="bottom">Enter Query</md-tooltip> -->
          </div>
          <div class="viz-editor-tabs-item" id="vegaE" @click="tabNavigation" :style="showAllTabBtn ? showAllTabs : false">
            Vega
            <!-- <md-tooltip md-direction="bottom">Enter Vega Specs</md-tooltip> -->
          </div>
          <div class="viz-editor-tabs-item" id="saveE" @click="tabNavigation" :style="showAllTabBtn ? showAllTabs : false">
            {{actionType}}
            <!-- <md-tooltip md-direction="bottom">{{actionType}}</md-tooltip> -->
          </div>
        </div>
        <div class="viz-editor viz-editor-show" id="sparqlc">
          <button
            class="btn btn-raised btn-primary"
            @click="goToSparqlTemplates()"
          >
            Build query from template
          </button>
          <yasqe v-if="query"
            :value="query"
            :readOnly="queryEditorReadOnly"
            @input="setQuery"
            @query-success="onQuerySuccess"
            @query-error="onQueryError"
          />
        </div>
        <div class="viz-editor" id="vegac">
          <div id="vega-spec-editor" style="height:100%">
            <button
              class="btn btn-raised btn-primary"
              @click="goToDataVoyager()"
              :disabled="sparqlError"
            >
              Browse Data Voyager
            </button>
            <v-jsoneditor v-if="baseSpec"
              :value="baseSpec"
              @input="setBaseSpec"
              :options="specJsonEditorOpts"
              :error="onSpecJsonError" style="height: 98%">
            </v-jsoneditor>
          </div>
        </div>
        <div class="viz-editor" id="savec">
          <form class="title-form" @submit.prevent="saveChart">
            <div style="display: block; flex: 1">
              <div class="form-group">
                <label for="chart-title">Title</label>
                <input type="text" class="form-control" name="chart-title" id="chart-title" :value="title" @input="setTitle"/>
              </div>
            </div>
            <div style="display: block;">
              <div class="form-group">
                <label for="chart-description">Description</label>
                <textarea class="form-control" name="chart-description" id="chart-description" :value="description" @input="setDescription"></textarea>
              </div>
            </div>
            <div style="display: block;">
              <button type="submit" class="btn btn-primary">{{ actionType }} <i class="material-icons" style="color:#32CD32">check</i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="vega-editor-right">
      <div v-if="sparqlError">
        <div class="alert alert-danger">
          The SPARQL query failed to execute.  Please ensure syntax is valid and try again.
        </div>
      </div>
      <div v-else>
        <div style="text-align: right;">
          <a @click.prevent="previewPane=true"  class="viz-editor-tabs-item" :class="{tabselected:previewPane}">
            Chart
            <!-- <md-tooltip md-direction="bottom">Chart Preview</md-tooltip> -->
          </a>
          <a @click.prevent="previewPane=false" class="viz-editor-tabs-item" :class="{tabselected:previewPane == false}">
            Table
            <!-- <md-tooltip md-direction="bottom">Table Preview</md-tooltip> -->
          </a>
        </div>
        <div class="vega-container" v-if="previewPane">
          <keep-alive>
            <vega-lite :spec="spec" @new-vega-view="onNewVegaView" style="height: 98%"/>
          </keep-alive>
        </div>
        <div style="overflow: scroll;" v-else>
          <keep-alive>
            <yasr v-bind:results="results"></yasr>
          </keep-alive>
        </div>
      </div>
    </div>
  </div>
  <!-- Floating action button replacement -->
  <div class="position-fixed" style="bottom: 20px; right: 20px;">
    <button class="btn btn-primary btn-lg rounded-circle" @click.prevent="navBack">
      <i class="material-icons">arrow_back</i>
    </button>
  </div>
</div>
