{% from "_macros.html" import get_label %}
{% macro add_type_modal() %}
<div ng-controller="AddTypeController">
<button class="btn btn-secondary" type="button" aria-label="Add Node Type" title="Add Node Type" data-bs-toggle="modal" data-bs-target="#uploadModal">
  <i class="bi bi-tag" aria-hidden="true"></i>
</button>
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel">
  <div class="modal-dialog" role="document">
    <form class="modal-content" action="" method="post" enctype="multipart/form-data">
      <div class="modal-header">
        <h4 class="modal-title" id="uploadModalLabel">Upload File for {{get_label(resource)}}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input name="file" type="file" class="form-control">
      </div>
    </form>
  </div>
</div>
{% endmacro %}

