<div>
  <div style="background-color: rgba(0,0,0,.2); border-radius:3px; height:96%; z-index:1000; position:absolute; width:98%" v-if="loading">
    <spinner :loading="loading" />
  </div>
  <split-pane :min-percent='paneResize' v-on:resize="resize" :default-percent='50' split="vertical">
    <template slot="paneL">
      <div class="">
        <div class="viz-editor-tabs" @click="showTabNavigation">
          <div class="viz-editor-tabs-item" id="showtabs" :style="!showAllTabBtn ? showAllTabs : false">
            <span class="material-icons">
              double_arrow
            </span>
          </div>
          <div class="viz-editor-tabs-item tabselected" id="sparql" @click="tabNavigation" :style="showAllTabBtn ? showAllTabs : false">
            Sparql
            <md-tooltip md-direction="bottom">Enter Query</md-tooltip>
          </div>
          <div class="viz-editor-tabs-item" id="vegaE" @click="tabNavigation" :style="showAllTabBtn ? showAllTabs : false">
            Vega
            <md-tooltip md-direction="bottom">Enter Vega Specs</md-tooltip>
          </div>
          <div class="viz-editor-tabs-item" id="saveE" @click="tabNavigation" :style="showAllTabBtn ? showAllTabs : false">
            {{actionType}}
            <md-tooltip md-direction="bottom">{{actionType}}</md-tooltip>
          </div>
        </div>
        <div class="viz-editor viz-editor-show" id="sparqlc">
          <yasqe v-if="chart.query"
            v-model="chart.query"
            v-on:query-success="onQuerySuccess">
          </yasqe>
        </div>
        <div class="viz-editor" id="vegac">
          <div id="vega-spec-editor" style="height:100%">
            <v-jsoneditor v-if="chart.baseSpec"
              v-model="chart.baseSpec"
              :options="specJsonEditorOpts"
              :error="onSpecJsonError" style="height: 98%">
            </v-jsoneditor>
          </div>
        </div>
        <div class="viz-editor" id="savec">
          <form class="title-form" @submit.prevent="saveChart">
            <div style="display: block; flex: 1">
              <md-field class="chart-title-field viz-u-maxwidth">
                <label for="chart-title">Title</label>
                <md-input name="chart-title" id="chart-title" v-model="chart.title"/>
              </md-field>
            </div>
            <div style="display: block;">
              <md-field class="chart-description-field viz-u-maxwidth">
                <label for="chart-description">Description</label>
                <md-textarea name="chart-description" id="chart-description" v-model="chart.description"/>
              </md-field>
            </div>
            <div style="display: block;">
              <button type="submit" class="btn btn--primary">{{ actionType }} <md-icon style="color:#32CD32">check</md-icon></button>
            </div>
          </form>
        </div>
      </div>
    </template>
    <template slot="paneR">
      Preview
      <div>
        <div style="text-align: right;">
          <a @click.prevent="previewPane=true"  class="viz-editor-tabs-item" :class="{tabselected:previewPane}">
            Chart
            <md-tooltip md-direction="bottom">Chart Preview</md-tooltip>
          </a>
          <a @click.prevent="previewPane=false" class="viz-editor-tabs-item" :class="{tabselected:previewPane == false}">
            Table
            <md-tooltip md-direction="bottom">Table Preview</md-tooltip>
          </a>
        </div>
        <div class="vega-container" v-if="previewPane">
          <keep-alive>
            <vega-lite :spec="spec" @new-vega-view="onNewVegaView" style="height: 98%"/>
          </keep-alive>
        </div>
        <div style="overflow: scroll;" v-else>
          <keep-alive>
            <yasr v-bind:results="results"></yasr>
          </keep-alive>
        </div>
      </div>
    </template>
  </split-pane>
  <md-speed-dial :class="bottomPosition" >
    <md-speed-dial-target class="utility-float-icon" @click.native.prevent="navBack">
      <md-icon>arrow_back</md-icon>
    </md-speed-dial-target>
  </md-speed-dial>
</div>
