<div>
  <div class="viz-dark-loading" v-if="loading">
    <spinner :loading="loading" />
  </div>
  <split-pane :min-percent='paneResize' v-on:resize="resize" :default-percent='50' split="vertical">
    <template slot="paneL">
      <div class="">
        <div class="viz-editor-tabs" @click="showTabNavigation">
          <div class="viz-editor-tabs-item" id="showtabs" :style="!showAllTabBtn ? showAllTabs : false">
            <span class="material-icons">
              double_arrow
            </span>
          </div>
          <div class="viz-editor-tabs-item tabselected" id="sparql" @click="tabNavigation" :style="showAllTabBtn ? showAllTabs : false">
            Sparql
            <md-tooltip md-direction="bottom">Enter Query</md-tooltip>
          </div>
          <div class="viz-editor-tabs-item" id="vegaE" @click="tabNavigation" :style="showAllTabBtn ? showAllTabs : false">
            Vega
            <md-tooltip md-direction="bottom">Enter Vega Specs</md-tooltip>
          </div>
          <div class="viz-editor-tabs-item" id="facetE" @click="tabNavigation" :style="showAllTabBtn ? showAllTabs : false">
            Facets
            <md-tooltip md-direction="bottom">Use the Faceted Browser</md-tooltip>
          </div>
          <div class="viz-editor-tabs-item" id="saveE" @click="tabNavigation" :style="showAllTabBtn ? showAllTabs : false">
            {{actionType}}
            <md-tooltip md-direction="bottom">{{actionType}}</md-tooltip>
          </div>
        </div>
        <div class="viz-editor viz-editor-show" id="sparqlc">
          <md-button
            class="md-raised"
            @click="goToSparqlTemplates()"
          >
            Build query from template
          </md-button>
          <yasqe v-if="query"
            :value="query"
            :readOnly="queryEditorReadOnly"
            @input="setQuery"
            @query-success="onQuerySuccess"
            @query-error="onQueryError"
          />
        </div>
        <div class="viz-editor" id="vegac">
          <div id="vega-spec-editor" style="height:100%">
            <md-button
              class="md-raised"
              @click="goToDataVoyager()"
              :disabled="sparqlError"
            >
              Browse Data Voyager
            </md-button>
            <v-jsoneditor v-if="baseSpec"
              :value="baseSpec"
              @input="setBaseSpec"
              :options="specJsonEditorOpts"
              :error="onSpecJsonError" style="height: 98%">
            </v-jsoneditor>
          </div>
        </div>
        <div class="viz-editor" id="facetc">
          <div>
            <md-card>
              <md-card-header>
                <div class="md-title">Select a class to browse</div>
              </md-card-header>
              <md-card-content>
                <md-field>
                  <label>Class URI</label>
                  <md-input name="class-uri" id="class-uri" v-model="facetBrowserData.uriInput"/>
                </md-field>                
              </md-card-content>
              <md-card-actions>
                <md-button @click="setBrowserUri">Submit URI to browser</md-button>
              </md-card-actions>
            </md-card>
            <div style="padding: 20;">
              <facet-browser v-bind:class_uri="facetBrowserData.facetClassUri" :key="facetBrowserData.facetClassUri" v-bind:show_yasr="false" @facet-browser-update="onFacetBrowserUpdated"></facet-browser>
            </div>
            <yasqe v-if="facetBrowserData.facetQuery"
              :value="facetBrowserData.facetQuery"
              @input="setQuery"
              @query-success="onQuerySuccess"
              @query-error="onQueryError"
            />
          </div>
        </div>
        <div class="viz-editor" id="savec">
          <form class="title-form" @submit.prevent="saveChart">
            <div style="display: block; flex: 1">
              <md-field class="chart-title-field viz-u-maxwidth">
                <label for="chart-title">Title</label>
                <md-input name="chart-title" id="chart-title" :value="title" @input="setTitle"/>
              </md-field>
            </div>
            <div style="display: block;">
              <md-field class="chart-description-field viz-u-maxwidth">
                <label for="chart-description">Description</label>
                <md-textarea name="chart-description" id="chart-description" :value="description" @input="setDescription"/>
              </md-field>
            </div>
            <div style="display: block;">
              <button type="submit" class="btn btn--primary">{{ actionType }} <md-icon style="color:#32CD32">check</md-icon></button>
            </div>
          </form>
        </div>
      </div>
    </template>
    <template slot="paneR">
      <div v-if="sparqlError">
        <md-content class="md-accent">
          The SPARQL query failed to execute.  Please ensure syntax is valid and try again.
        </md-content>
      </div>
      <div v-else>
        <div style="text-align: right;">
          <a @click.prevent="previewPane=true"  class="viz-editor-tabs-item" :class="{tabselected:previewPane}">
            Chart
            <md-tooltip md-direction="bottom">Chart Preview</md-tooltip>
          </a>
          <a @click.prevent="previewPane=false" class="viz-editor-tabs-item" :class="{tabselected:previewPane == false}">
            Table
            <md-tooltip md-direction="bottom">Table Preview</md-tooltip>
          </a>
        </div>
        <div class="vega-container" v-if="previewPane">
          <keep-alive>
            <vega-lite :spec="spec" @new-vega-view="onNewVegaView" style="height: 98%"/>
          </keep-alive>
        </div>
        <div style="overflow: scroll;" v-else>
          <keep-alive>
            <yasr v-bind:results="results"></yasr>
          </keep-alive>
        </div>
      </div>
    </template>
  </split-pane>
  <md-speed-dial :class="bottomPosition" >
    <md-speed-dial-target class="utility-float-icon" @click.native.prevent="navBack">
      <md-icon>arrow_back</md-icon>
    </md-speed-dial-target>
  </md-speed-dial>
</div>
