
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #555;
}
a {
  color: #23537b;
  text-decoration: none;
}

.bg-primary {
    background-color: #08233c !important;
}

.btn-primary {
    background-color: #08233c;
    border-color: #08233c;
}

.navbar-dark {
    background-color: #08233c !important;
}

.flex-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

dt {
    font-weight: bold;
    margin-top:0.5em;
}
