@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.viz {
    &-content {
        display: grid;
        grid-template-rows: repeat(1, 80%);
        grid-template-columns: repeat(1, 1fr);
        cursor: pointer;

        @include respond(tab-port){
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1rem;
        }

        @include respond(tab-land){
            grid-template-rows: repeat(1, 1fr);
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 1rem;
        }

        @include respond(desktop){
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1rem;
        }

        @include respond(big-desktop){
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 1rem;
        }       
    }

    &-3-col {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1rem;
    }

    &-2-col {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1rem;
    }

    &-pagination {
        display: none;
        @include respond(tab-port){
            margin: 0 auto;
            display: grid;
            grid-template-rows: repeat(1, 100%);
            grid-template-columns: repeat(6, 1fr);
            grid-column-gap: 1rem;
            margin: 1rem auto;
            max-width: 50%;
        }

        @include respond(tab-land) {
            max-width: 30%;
        }

        & > a {
            padding:10px !important;
            
            color: #ffffff;
            font-size: 1rem;
            border: none;
            background-color: rgba(#08233c, 0.8);
            text-align: center;

            &:hover {
                text-decoration: none;
                border: none;
                background-color: #08233c;
                color: #ffffff;
            }
        }
    }
}

.loading-dialog {
    text-align: center;
}

.vega-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1rem;
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(#000000, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(#000000, .2);
    }

    &_small {
        padding: .8rem 2rem;
        border-radius: 4rem;
    }

    &--primary {
        background-color: #08233c;
        color: #ffffff;

        &::after{
            background-color: #08233c;
        }
    }

    &--default {
        background-color: #64b5f6;
        color: #000000;
        &::after{
            background-color: #64b5f6;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: 1rem;
        display: inline-block;
        text-decoration: none !important;
        padding: 3px;
        transition: all .2s;
        cursor: pointer !important;
    }

    &--default {
        color: #64b5f6 !important;
        border-bottom: 1px solid #64b5f6;
        cursor: pointer;
        &:hover {
            background-color: #64b5f6 !important;
            color: #000000 !important;
        }
    }

    &:hover {
        box-shadow: 0 1rem 2rem rgba(#000000, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba(#000000, .15);
        transform: translateY(0);
    }
}