.viz {
    &-content {
        display: grid;
        grid-template-rows: repeat(1, 80%);
        grid-template-columns: repeat(1, 1fr);
        cursor: pointer;

        @include respond(tab-port){
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1rem;
        }

        @include respond(tab-land){
            grid-template-rows: repeat(1, 1fr);
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 1rem;
        }

        @include respond(desktop){
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1rem;
        }

        @include respond(big-desktop){
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 1rem;
        }


       
    }

    &-pagination {
        display: none;
        @include respond(tab-port){
            margin: 0 auto;
            display: grid;
            grid-template-rows: repeat(1, 100%);
            grid-template-columns: repeat(6, 1fr);
            grid-column-gap: 1rem;
            margin: 1rem auto;
            max-width: 50%;
        }

        @include respond(tab-land) {
            max-width: 30%;
        }

        & > a {
            padding:10px !important;
            
            color: #ffffff;
            font-size: 1rem;
            border: none;
            background-color: rgba(#08233c, 0.8);
            text-align: center;

            &:hover {
                text-decoration: none;
                border: none;
                background-color: #08233c;
                color: #ffffff;
            }
        }
    }
}