.title-form {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-flow: column;

  .chart-metadata {
    margin-bottom: 20px;
  }

  .title-bar {
    display: flex;
    .chart-title-field {
      height: 1em;
    }
    .save-button {
      flex-grow: 0.2;
    }
  }
}

.md-tab {
  height: 100%;
}

.vega-container {
  height: 100%;
  width: 100%;
}
