$primary-color: #08233c;
$primary-color-light: #64b5f6;
$primary-white: #ffffff;
$primary-black: #000000;
$tooltip-bg: #333;
$color-1: orangered;
$color-2: yellowgreen;
$color-3: blueviolet;
$color-4: palevioletred;
$color-5: royalblue;
$color-6: goldenrod;
$color-7: gray;
