{% macro render_resource_link(resource) %}
  <a href="/about?uri={{resource.identifier | urlencode }}">{{get_label(resource)}}</a>
{% endmacro %}

{% macro render_rdfa_resource_link(resource, predicate) %}
  <a relation="{{predicate}}" href="{{resource.identifier}}">{{get_label(resource)}}</a>
{% endmacro %}

{% macro get_label(resource) %}{{g.get_label(resource)}}{% endmacro %}

{% macro content(resource) %}
    {% for value in resource[g.ns.sioc.content] %}
    <div class="panel panel-default">
      <div class="panel-body" property="{{g.ns.sioc.content}}">
        {{value  | safe}}
      </div>
    </div>
    {% endfor %}  
{% endmacro %}
    
{% macro summary_panel(resource) %}
    {% for property, value in g.get_summary(resource)%}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">{{get_label(resource.graph.resource(property))}}</h2>
      </div>
      <div class="panel-body" property="{{property}}">
        {{value}}
      </div>
    </div>
    {% endfor %}  
{% endmacro %}
    
{% macro facts_panel(resource) %}
    <div resource="{{resource.identifier}}" class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Facts</h2>
      </div>
      <div class="panel-body">
        {% for predicate, objects in resource.predicate_objects() | groupby(0) | sort(attribute=0) %}
        {% if predicate != g.ns.sioc.content %}
        <dl class="dl-horizontal clearfix">
          <dt style="font-weight:bold">{{get_label(resource.graph.resource(predicate))}}</dt>
          <dd>
            {% for object in objects | map('last') | lang %}
            {% if g.isinstance(object, g.rdflib.Literal) %}
            <p property="{{predicate}}">{{object}}</p>
            {% else %}
            <p>{{render_resource_link(object)}}</p>
            {% endif %}
            {% endfor %}
          </dd>
        </dl>
        {% endif %}
        {% endfor %}
      </div>
    </div>
{% endmacro %}
