{% macro title() %}
{% block title %}{% endblock %}
{% endmacro %}
{% from "elements/upload.html" import upload_button_modal %}
<html class="mdc-typography"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
      xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ title() }} - {{ config['site_name'] }}</title>
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="/static/bower_components/angular-material/angular-material.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    
    <link rel="stylesheet" href="/static/bower_components/material-components-web/dist/material-components-web.css">
    
    <link rel="stylesheet" href="/static/css/whyis.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
<link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='images/apple-icon-57x57.png') }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='images/apple-icon-60x60.png') }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='images/apple-icon-72x72.png') }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='images/apple-icon-76x76.png') }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='images/apple-icon-114x114.png') }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='images/apple-icon-120x120.png') }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='images/apple-icon-144x144.png') }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='images/apple-icon-152x152.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-icon-180x180.png') }}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='images/android-icon-192x192.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='images/favicon-96x96.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
<meta name="msapplication-TileImage" content="{{ url_for('static', filename='images/ms-icon-144x144.png') }}">

<link href="/static/bower_components/bootstrap-fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css"/>

    <style>
      div.container {
      width: 95%;
      }
      a:visited { 
      color: #887ab7;
      }
    </style>
    
    {% block styles %}{% endblock %}
    
  </head>
  <body>
    <nav class="navbar navbar-default" style="margin-bottom: 0px">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">Home</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if not current_user or current_user.is_anonymous %}
            <li><a href="/login">Log in <span class="glyphicon glyphicon-log-in"></span></a></li>
            {% else %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome, {{current_user.givenName}} <span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="/logout">Log out</a></li>
                <li><a href="/change">Change password</a></li>
              </ul>
            </li>
            {% endif %}
            {% if current_user and current_user.is_anonymous and current_user.is_authenticated %}
            <li><a href="{{config['SECURITY_REGISTER_URL']}}">Register <span class="glyphicon glyphicon-log-in"></span></a></li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      <div class="clearfix"></div>
    </div>
    {% block pageheader %}
    <div class="container">
    <div class="page-header">
       {% if this is defined %}
        <div class="btn-group pull-right" role="group" aria-label="...">
          {{ upload_button_modal(this) }}
        </div>
        {% endif %}
        <h1 property="rdfs:label">{{ title() }} <small>{% block subtitle %}{% endblock %}</small>
        </h1>
      </div>
    </div>
    {% endblock %}
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-info alert-{{category}} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{message}}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}
      {% endblock %}
    </div>
</div>

    <script>
      LOD_PREFIX = '{{config.lod_prefix}}';
{% if current_user and current_user.resUri %}
      USER = { uri: '{{current_user.resUri}}', admin: '{{current_user.has_role('admin')}}' };
{% else %}
      USER = { }
{% endif %}
    </script>

    <script src="/static/js/lib/jquery/dist/jquery.js"></script>

    <script src="/static/bower_components/d3/d3.js"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/static/bower_components/material-components-web/dist/material-components-web.js"></script>
    <script>mdc.autoInit()</script>

    <script src="/static/bower_components/bootstrap-fileinput/js/fileinput.js" type="text/javascript"></script>
    
    <!-- Angular Material Dependencies -->
    <link rel="stylesheet" href="/static/bower_components/angular-material/angular-material.min.css">
    <script src="/static/bower_components/angular/angular.min.js"></script>
    <script src="/static/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/static/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/static/bower_components/angular-material/angular-material.min.js"></script>
    
    <!-- Angular Material Fileinput -->
    <link rel="stylesheet" href="/static/bower_components/lf-ng-md-file-input/dist/lf-ng-md-file-input.css">
    <script src="/static/bower_components/lf-ng-md-file-input/dist/lf-ng-md-file-input.js"></script>

    <script src="/static/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/static/bower_components/angular-messages/angular-messages.min.js"></script>

<script src="/static/bower_components/lodash/dist/lodash.min.js"></script>
<script src="/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/static/bower_components/spin.js/spin.js"></script>
<script src="/static/bower_components/angular-spinner/angular-spinner.min.js"></script>
<script src="/static/bower_components/angular-paging-sparql-service/dist/sparql-service.js"></script>
<script src="/static/bower_components/checklist-model/checklist-model.js"></script>
    <script src="/static/bower_components/angular-semantic-faceted-search/dist/semantic-faceted-search.js"></script>
<script>
</script>
<script src="/static/js/whyis.js"></script>

{% block scripts %}{% endblock %}
</body>
</html>


