{% extends "base_vue.html" %}
{% from "elements/upload.html" import upload_button_tab_modal %}
{% from "_macros.html" import render_resource_link, render_rdfa_resource_link, get_label, facts_panel, summary_panel, content %}
{% block title %}{{get_label(this.description())}}{% endblock %}
{% block content %}
{% set attributes = this | include("attributes") | fromjson %}
{% set incoming = this | include("incoming") | fromjson  %}
{% set outgoing = this | include("outgoing") | fromjson  %}

    <md-card-header>
        <md-card-header-text>
            <ul class="nav nav-tabs">
                {% for v in this | get_views_list -%}
                <li class="nav-item {% if v['view'].value == view %}active{% endif %}">
                    <a class="nav-link {% if v['view'].value == view %}active{% endif %}"
                       href="{{url_for('entity.view', uri=this.identifier, view=v['view'])}}">
                        {{v['label']}}
                    </a>
                </li>
                {%- endfor %}
                {% if this.description().value(ns.whyis.hasFileID) %}
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{url_for('entity.view',uri=this.identifier)}}">
                        Download
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    {{ upload_button_tab_modal(this) }}
                </li>
                {% if not this.identifier.startswith(ns.local) %}
                <li class="nav-item">
                    <a class="nav-link" href="{{this.identifier}}"
                       aria-label="Visit Page" title="Visit Page">
                       Visit
                    </a>
                </li>
                {% endif %}
            </ul>
            <div class="md-layout md-gutter md-alignment-center-left" style = "margin-top: 6px;">
                <div class = "md-layout-item"> 
                    <div class="md-title">{{attributes.label}}</div>
                    {% if attributes.type | length > 0 %}<div class="md-subhead" style="max-width: fit-content;">
                        {% for type in attributes.type %}{{type.label}}{% if not loop.last %}, {% endif %} {% endfor %}
                    </div>{% endif %}
                </div>
                <add-knowledge-menu class="md-subhead md-layout-item" 
                    style="max-width: fit-content;" 
                    uri="{{attributes['@id']}}">
                </add-knowledge-menu>
            </div> 
        </md-card-header-text>
        {% if attributes.thumbnail %}<md-card-media md-big >
            <img src="{{url_for('entity.view', uri=attributes.thumbnail)}}" alt="{{attributes.label}}"/>
        </md-card-media>{% endif %}
    </md-card-header>
    <md-card-content>
        <div class="md-layout md-gutter">
            <div class="md-layout-item">
                <dl>
                {% for desc in attributes.description %}<dt>{{desc.label}}:</dt> <dd>{{desc.value}}</dd>
                {% endfor %}
                    <dt>Identifier</dt> <dd>{{ attributes['@id']}}<dd>
                {% for attribute in attributes.attributes %}
                    <dt>{{attribute.label}} </dt>
                    {% for value in attribute['values'] %}
                    <dd>
                        {{ value.value}} {% if value.unit_label %}<em>{{value.unit_label}}</em>{% endif %}
                    </dd>
                    {% endfor %}
                {% endfor %}
                </dl>
            </div>
            <div class="md-layout-item">
                <div>
                    <h3>Super-Classes</h3>
                    <p>Super class definitions also apply to this class.</p>
                    <div class="panel panel-default">
                        <ul class="list-group">
                        {% for superClass in this.description()[ns.RDFS.subClassOf] %}
                            <li class="list-group-item">
                            {{render_resource_link(superClass)}}
                            {% if superClass.value(ns.skos.definition) %}
                            <span>{{lang_filter(superClass[ns.skos.definition])}}</span>
                            {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div> 

                {% for key, subClasses in incoming | groupby("link_label") %}
                {% if key == 'Sub Class Of'%}
                <div>
                    <h3>Sub-Classes</h3>
                    <div class="panel panel-default">
                        <ul class="list-group">
                            {% for subClass in subClasses %}
                            <li class="list-group-item">
                                <a href="{{url_for('entity.view', uri=rdflib.URIRef(subClass.source))}}">{{subClass.source_label}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                {% endfor %}  
            </div>
            </div>
        <div>
          <h3>Explore Instances</h3>
          <modular-viz-tool
          :default-percent="30"
          >
            <template v-slot:select>
              <bob-viz-facets v-bind:class_uri_mod="'{{this.identifier}}'" />
            </template>
            <template v-slot:explore>
              <bob-viz-tabular-explore :component_array="['tableResults', 'dataVoyager']"/>
            </template>
          </modular-viz-tool>
        </div>
    </div>
    </md-card-content>
{% endblock %}
