{% extends "base.html" %}
<!-- {% from "_macros.html" import render_resource_link, render_rdfa_resource_link, get_label, facts_panel, summary_panel, content %} -->

{% block title %}DSA {{this.description().value(ns.RDFS.label)}}{% endblock %}

{% block styles %}
<style>
html, body {
    background-color: #fff;   
}
div.rule {
    border: 1px solid grey;
    border-radius: 5px;
    margin: 4px;
    padding: 8px;
}
div.rules {
    border: 1px solid grey;
    border-radius: 5px;
}
</style>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/whyis.js')}}"></script>
{% endblock %}

{% block pageheader %}{% endblock %}

{% block content %}
<h1>Create policy</h1>

<div class="container" ng-controller="DsaController as vm" class="md-padding" ng-cloak>
    <div class="page-header" layout="row">
        <global-json-context/>
        <h1 flex property="rdfs:label">{{ title() }}<small ng-show="vm.instance.label.length != 0" ng-bind="vm.instance.label[0]['@value']"></small><small ng-show="vm.instance.label.length == 0" ng-bind="vm.instance['@id']"></small>
        </h1>
        <section class="pull-right" layout="row" layout-sm="column" layout-align="center center" layout-wrap ng-cloak>
            <md-switch ng-model="vm.showCode" aria-label="Show JSON-LD Code">Show JSON-LD</md-switch>
            <span/>
            <md-button ng-click="vm.submit()" class="md-icon-button" aria-label="Create" title="Create">
                <md-icon>check_circle</md-icon>
            </md-button>
            <md-button md-secondary ng-href="{{url_for('view',view='view', uri=this.identifier)}}" class="md-icon-button" aria-label="Cancel" title="Cancel">
                <md-icon>cancel</md-icon>
            </md-button>
        </section>
    </div>

    <form>
        <div>
            <h1 class="md-title">Policy info</h1>
            <div layout="row">
                <md-input-container style="margin-right: 10px;">
                    <label>Source</label>
                    <md-select ng-model="vm.instance['source']['@value']">
                        <md-option ng-repeat="source in sources" ng-value="source" ng-model="vm.instance['source']['@value']">{[{source}]}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container style="margin-right: 10px;">
                    <label>Policy ID</label>
                    <input ng-model="vm.instance['@id']">
                </md-input-container>
            </div>

            <md-input-container class="md-block">
                <label>Policy description</label>
                <textarea ng-model="vm.instance['description']['@value']" md-maxlength="1500" rows="3" md-select-on-focus></textarea>
            </md-input-container>

            <div id="rules" class="rules">
                <md-button class="md-raised" ng-click="addStatement(attributes, options, rule, $event.target)">Add statement</md-button>
                <dsa-statement ng-repeat="statement in vm.instance['xacml:hasTarget']['xacml:includes']['xacml:includes']" attributes="attributes" options="options" statement="statement"></dsa-statement>
            </div>

            <div id="rules" class="rules">
                <md-button class="md-raised" ng-click="addRule()">Add Provision</md-button>
                <dsa-rule ng-repeat="rule in vm.instance['xacml:includes']" attributes="attributes" options="options" rule="rule" effects="effects"></dsa-rule>
            </div>
        </div>
    </form>
    <div layout="column">
        <div layout="row">
            <pre flex ng-show="vm.showCode" ng-bind="vm.nanopub | json"></pre>
        </div>
    </div>
</div>
{%endblock%}