<md-toolbar class="md-primary"  >
  <div class="md-toolbar-tools" layout="row" layout-align="space-around center">
    <md-button ng-href="https://tetherless-world.github.io/whyis" aria-label="Powered by Whyis" title="Powered by Whyis">
      <img height="32px" src="{{ url_for('static', filename='images/logo.png') }}"/>
      Powered by Whyis
    </md-button>

    <md-button ng-href="http://info.rpi.edu/webaccessibility" aria-label="Accessibility" title="Accessibility">
      Accessibility
    </md-button>
  </div>
</md-toolbar>
