{% extends "base.html" %}

{% from "_macros.html" import render_resource_link, render_rdfa_resource_link, get_label, facts_panel, summary_panel, content %}
{% block title %}{{config['site_name']}}{% endblock %}

{% block pageheader %}
<div class="jumbotron" style="color: #eee; background-color: #08233c; background: url('{{url_for('.view',name='')}}{{config['site_header_image']}}') no-repeat top center; background-size:cover">
  <div class="container" style="text-shadow: 0px 0px 20px black;">
    <h1 class="">{{title()}}</h1>
    {% if 'site_description' in config %}
    <p class="lead">{{config['site_description']}}</p>
    {% else %}
    {% for property, value in g.get_summary(this.description())%}
    <p class="lead">{{value}}</p>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row" >
    {{ content(this.description()) }}
</div>
<div>
<latest/>
{% endblock %}
