{% extends "base_vue.html" %}
{% from "_macros.html" import render_resource_link, render_rdfa_resource_link, get_label, facts_panel, summary_panel, content %}
{% block title %}{{g.get_label(this)}}{% endblock %}
{% block content %}
<modular-viz-tool>
  <!-- <div slot="sparqlGenerator">
    <h1>Here might be a page title</h1>
  </div> -->
  <!-- <sparql-template-page slot="sparqlGenerator">test</sparql-template-page> -->
  <!-- <vega-lite :spec="spec" @new-vega-view="onNewVegaView" style="height: 98%"/> -->
  <!-- <vega-lite slot="jsonInterpreter">test</vega-lite> -->
</modular-viz-tool>
{% endblock %}
