{% extends "base.html" %}
{% from "_macros.html" import render_resource_link, render_rdfa_resource_link, get_label, facts_panel, summary_panel, content %}
{% block title %}{{get_label(this.description())}}{% endblock %}
{% block content %}
<div class="row" >
  <div class="col-md-8" >
    <section md-whiteframe="2" layout="column" style="min-height: 40em; margin-bottom:1em;">
      <explore flex start="{{this.identifier}}"></explore>
    </section>
    {{ content(this.description()) }}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Nanopublications for {{get_label(this.description())}}</h2>
      </div>
      <div class="panel-body">
        <nanopubs resource="{{this.identifier}}"/>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <kg-card src="'{{this.identifier}}'"/>
  </div>

{% endblock %}
