{% extends "base.html" %}
{% from "_macros.html" import render_resource_link, render_rdfa_resource_link, get_label, facts_panel, summary_panel, content %}
{% block title %}{{get_label(this.description())}}{% endblock %}
{% block content %}
<div layout="row" style="height:max-content;">
  <div flex="66" layout="column">
    {{ content(this.description()) }}
    <div md-whiteframe="2" layout="column" style="height: 50em">
      <explore flex layout-fill start="{{this.identifier}}"></explore>
    </div>
  </div>
  <div flex="33" layout="column">
    <kg-card src="'{{this.identifier}}'"></kg-card>
    <md-card >
      <md-card-header>
        <md-card-header-text>
          <span class="md-title">Nanopublications for {{get_label(this.description())}}</span>
        </md-card-header-text>
      </md-card-header>
      <md-card-content>
        <nanopubs resource="{{this.identifier}}"/>
      </md-card-content>
    </md-card>
  </div>
</div>
{% endblock %}
