{% extends "base.html" %} {% block title %}Search View{% endblock %} {% block styles %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Search View</title>

{% endblock %} 
{% block content %}

<!-- Jim's example code below -->
<div ng-cloak layout-gt-sm="row" layout="column">
    <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
            <span>Search Results</span>
        </div>
        
    </md-toolbar>
    
    <md-content>
        
        <md-list flex>
            <md-list-item class="md-3-line md-long-text" ng-repeat="entity in entities" ng-click="">
                <div class="md-list-item-text" layout="column">
                    <h3>
                        
                    </h3>
                    {# <h4 data-ng-repeat="type in entity.types">{{ type.label }}</h4>
                    <p>{{ entity.description }}</p> #}
                </div>
            </md-list-item>
        </md-list>
    </md-content>

    
</div>
<div>
    <div>entities are: {{entities}}</div>
</div>     


{% endblock %}