{% macro title() %}
{% block title %}{% endblock %}
{% endmacro %}
<!DOCTYPE html>
<html lang="{{config['default_language']}}"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
      xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#">
  <head>
    <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ title() }} - {{ config['SITE_NAME'] }}</title>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <!-- MD-Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/whyis.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap-theme.min.css')}}">

    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
<link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='images/apple-icon-57x57.png') }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='images/apple-icon-60x60.png') }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='images/apple-icon-72x72.png') }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='images/apple-icon-76x76.png') }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='images/apple-icon-114x114.png') }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='images/apple-icon-120x120.png') }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='images/apple-icon-144x144.png') }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='images/apple-icon-152x152.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-icon-180x180.png') }}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='images/android-icon-192x192.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='images/favicon-96x96.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
<meta name="msapplication-TileImage" content="{{ url_for('static', filename='images/ms-icon-144x144.png') }}">

<link href="{{ url_for('static', filename='css/lib/fileinput.css')}}" media="all" rel="stylesheet" type="text/css"/>

<link href="{{ url_for('static', filename='css/lib/fileinput.css')}}" media="all" rel="stylesheet" type="text/css"/>
<link href='//cdn.jsdelivr.net/npm/yasgui-yasqe@2.11.22/dist/yasqe.min.css' rel='stylesheet' type='text/css'/>
<link href='//cdn.jsdelivr.net/yasr/2.10.8/yasr.min.css' rel='stylesheet' type='text/css'/>
<link href='//cdn.jsdelivr.net/yasgui/2.5.0/yasgui.min.css' rel='stylesheet' type='text/css'/>

<link rel="modulepreload" href="https://unpkg.com/htm@3.0.4/dist/htm.module.js?module">
<link rel="modulepreload" href="{{ url_for('static', filename='js/lib/jquery/dist/jquery.js')}}">
<link rel="modulepreload" href="{{ url_for('static', filename='js/lib/bootstrap.js')}}">

<link rel="modulepreload" href="{{ url_for('static', filename='js/lib/fileinput.js')}}">

    {% block styles %}
    {% endblock %}

  </head>
<body>
  <div >
    <div id="page" v-cloak>
{% block body %}
      <upload-knowledge :active.sync="nav.showAddKnowledgeMenu"></upload-knowledge>
      <upload-file :active.sync="nav.showUploadDialog" label="{{get_label(this)}}"></upload-file>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <div class="navbar-nav me-auto">
            <!-- Navigation Menu Dropdown -->
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="navMenuDropdown" data-mdb-toggle="dropdown" aria-expanded="false" aria-label="Navigation menu">
                <i class="material-icons">menu</i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="navMenuDropdown">
                {% if current_user and not current_user.is_anonymous %}
                <li><a class="dropdown-item" href="#" @click="nav.showAddKnowledgeMenu=true">Add Knowledge</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{{url_for('sparql_blueprint.sparql_view')}}">Query Data</a></li>
                <li><a class="dropdown-item" href="{{url_for('entity.view', uri='http://semanticscience.org/resource/Chart', view='new')}}">Create Visualization</a></li>
                <li><a class="dropdown-item" href="{{url_for('entity.view', uri='http://www.w3.org/ns/dcat#Dataset', view='new')}}">Upload Dataset</a></li>
              </ul>
            </div>
            <!-- Home Button -->
            <a class="btn btn-primary ms-2" href="{{url_for('entity.view',name='')}}" aria-label="Home">
              <i class="material-icons">home</i>
            </a>
          </div>
          <!-- Search Form -->
          <form class="d-flex flex-grow-1 mx-3"
                novalidate
                role="search"
                action="{{url_for('entity.view',name='search')}}"
                method="get"
                name="search">
            <search-autocomplete></search-autocomplete>
          </form>
          <!-- User Authentication -->
          <div class="navbar-nav">
            {% if not current_user or current_user.is_anonymous %}
            <a class="btn btn-outline-light me-2" href="{{url_for('security.login')}}" aria-label="Log in">Log in</a>
            <a class="btn btn-light" href="{{url_for('security.register')}}" aria-label="Register">Register</a>
            {% else %}
            <!-- User Menu Dropdown -->
            <div class="dropdown">
              <button class="btn btn-outline-light dropdown-toggle" type="button" id="userMenuDropdown" data-mdb-toggle="dropdown" aria-expanded="false" aria-label="User menu">
                Welcome, {{current_user.givenName}}
              </button>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenuDropdown">
                <li><a class="dropdown-item" href="{{url_for('security.logout')}}" id="log-out">Log Out</a></li>
                <li><a class="dropdown-item" href="{{url_for('security.change_password')}}" id="change-password">Change Password</a></li>
              </ul>
            </div>
            {% endif %}
          </div>
        </div>
      </nav>
      <main class="container-fluid">
        <div class="row">
          {% block pageheader %}
          <div class="col-12">
            <h1 class="ms-3" property="rdfs:label">{{ title() }} <small>{% block subtitle %}{% endblock %}</small>
              {% if this is defined %}
              <div class="float-end d-flex align-items-center" role="group">
                {% block actions %}
                {% if g.current_user and g.current_user.is_authenticated %}
                <button type="button" class="btn btn-secondary me-2" @click="nav.showUploadDialog=true" aria-label="Upload File" title="Upload File">
                  <i class="material-icons">file_upload</i>
                </button>
                <a class="btn btn-secondary me-2" href="{{url_for('entity.view',view='edit', uri=this.identifier)}}" aria-label="Edit" title="Edit">
                  <i class="material-icons">create</i>
                </a>
                {% endif %}
                {% if this.description().value(ns.whyis.hasFileID) %}
                <a class="btn btn-secondary me-2" href="{{url_for('entity.view',uri=this.identifier)}}" aria-label="Download File" title="Download File">
                  <i class="material-icons">file_download</i>
                </a>
                {% endif %}
                {% if not this.identifier.startswith(ns.local) %}
                <a class="btn btn-secondary" href="{{this.identifier}}" aria-label="Visit Page" title="Visit Page">
                  <i class="material-icons">launch</i>
                </a>
                {% endif %}
                {% endblock %}
              </div>
              {% endif %}
            </h1>
          </div>
          {% endblock %}
      </div>
      {% block content %}
      {% endblock %}
    </main>
{% endblock %}
{% include "footer.html" %}
</div>
  </div>

  <script type="application/javascript">
    LOD_PREFIX = '{{config.LOD_PREFIX}}';
    {% if 'BASE_RATE_PROBABILITY' in config %}
    BASE_RATE = {{config['BASE_RATE_PROBABILITY']}};
    {% else %}
    BASE_RATE = 0.5;
    {% endif %}
    {% if current_user and current_user.identifier %}
    USER = {
      uri: '{{current_user.identifier}}',
      admin: "{{current_user.has_role('Admin')}}",
      name: "{{current_user.givenName}}",
      email: "{{current_user.email}}"
    };
    {% else %}
    USER = { }
    {% endif %}
    {% if this is defined %}
    NAVIGATION = {
      showAddKnowledgeMenu : false,
      showUploadDialog : false
    };
    NODE_URI = "{{this.identifier | safe}}";
    ATTRIBUTES = {{ this | include('attributes') | safe }};
    SUMMARY = {{ this | include('summary') | safe }};
    DESCRIPTION = {{this.description().graph | serialize(format="json-ld") | safe}};
    NODE = DESCRIPTION.filter(function(d) { return d['@id'] == NODE_URI});
    if (NODE.length > 0)  NODE = NODE[0];
    else NODE = {"@id" : NODE_URI};
    {% endif %}
    ROOT_URL = "{{url_for('entity.view',name='')}}";
    LINKS = {
      registerNav: "{{url_for('security.register')}}",
      changePasswordNav: "{{url_for('security.change_password')}}"
    }
    CONFIGS = {
      mongoBackup: "{{config.THIRD_PARTY_REST_BACKUP}}",
      speedDialIcon: "{{config.DISABLE_VUE_SPEED_DIAL}}"
  }
  
  </script>

    <!-- TODO see if we can use the non-bundled versions -->
    <script type="application/javascript" src='//cdn.jsdelivr.net/npm/yasgui-yasqe@2.11.22/dist/yasqe.bundled.min.js'></script>
    <script type="application/javascript" src='//cdn.jsdelivr.net/yasr/2.10.8/yasr.bundled.min.js'></script>
    <script type="application/javascript" src='//cdn.jsdelivr.net/yasgui/2.5.0/yasgui.min.js'></script>
    
    <!-- MD-Bootstrap JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>
    
    <script type="module" src="{{ url_for('static', filename='dist/whyis.js')}}"></script>

{% block scripts %}{% endblock %}

<script type="module">
  import {app, axios} from '{{ url_for('static', filename='dist/whyis.js')}}'
  app.mount('body');
</script>


</body>
</html>
