{% extends "base_vue.html" %}
{% from "elements/upload.html" import vue_upload_button_tab_modal %}
{% from "_macros.html" import render_resource_link, render_rdfa_resource_link, get_label, facts_panel, summary_panel, content %}
{% block title %}{{get_label(this.description())}}{% endblock %}
{% block content %}
{% set attributes = this | include("attributes") | fromjson  %}
{% set incoming = this | include("incoming") | fromjson  %}
{% set outgoing = this | include("outgoing") | fromjson  %}

<ul class="nav nav-tabs">
    {% for v in this | get_views_list -%}
    <li class="nav-item {% if v['view'].value == view %}active{% endif %}">
        <a class="nav-link {% if v['view'].value == view %}active{% endif %}"
           href="{{url_for('entity.view', uri=this.identifier, view=v['view'])}}">
            {{v['label']}}
        </a>
    </li>
    {%- endfor %}
    {% if this.description().value(ns.whyis.hasFileID) %}
    <li class="nav-item">
        <a class="nav-link"
           href="{{url_for('entity.view',uri=this.identifier)}}">
            Download
        </a>
    </li>
    {% endif %}
    <li class="nav-item">
        {{ vue_upload_button_tab_modal(this) }}
    </li>
    {% if not this.identifier.startswith(ns.local) %}
    <li class="nav-item">
        <a class="nav-link" href="{{this.identifier}}"
           aria-label="Visit Page" title="Visit Page">
           Visit
        </a>
    </li>
    {% endif %}
</ul>
<div class="card">
      <div class="card-header">
            <div class="row align-items-center mt-2">
                <div class="col">
                    <h4 class="mb-1">{{attributes.label}}</h4>
                    {% if attributes.type | length > 0 %}<p class="text-muted mb-0">
                        {% for type in attributes.type %}{{type.label}}{% if not loop.last %}, {% endif %} {% endfor %}
                    </p>{% endif %}
                </div>
                <div class="col-auto">
                    <add-knowledge-menu class="text-muted"
                        uri="{{attributes['@id']}}">
                    </add-knowledge-menu>
                </div>
            </div>
        {% if attributes.thumbnail %}
        <div class="mt-3">
            <img src="{{url_for('entity.view', uri=attributes.thumbnail)}}" alt="{{attributes.label}}" class="img-fluid"/>
        </div>
        {% endif %}
      </div>
      <div class="card-body">
        <div class="row">
            <div class="col">
                <dl>
                {% for desc in attributes.description %}<dt>{{desc.label}}:</dt> <dd>{{desc.value}}</dd>
                {% endfor %}
                    <dt>Identifier</dt> <dd>{{ attributes['@id']}}<dd>
                {% for attribute in attributes.attributes %}
                    <dt>{{attribute.label}} </dt>
                    {% for value in attribute['values'] %}
                    <dd>
                        {{ value.value}} {% if value.unit_label %}<em>{{value.unit_label}}</em>{% endif %}
                    </dd>
                    {% endfor %}
                {% endfor %}
                </dl>
            </div>
            <div class="col">
                {% for link_name, items in outgoing | groupby("link_label") %}
                <h2>{{link_name.title() }}</h2>
                <div class="d-flex flex-wrap">
                {% for item in items %}
                <div class="card flex-fill m-1" >
                    {% if this.graph.value(rdflib.URIRef(item.target), ns.foaf.depiction) %}
                        {% set depiction = this.graph.value(rdflib.URIRef(item.target), ns.foaf.depiction) %}
                        {% if depiction.startswith(config['LOD_PREFIX']) %}
                            <img src="{{url_for('entity.view', uri=rdflib.URIRef(depiction))}}" alt="{{item.target_label}}" class="img-fluid">
                        {% else %}
                            <img src="{{depiction}}" alt="{{item.target_label}}" class="img-fluid">
                        {% endif %}
                    {% endif %}
                    <div class="card-header">
                        <div class="row align-items-center mt-2">
                            <div class="col">
                                <h5 class="card-title">{{item.target_label}}</h5>
                                {% if item.target_types | length > 0 %}<p class="text-muted mb-0">
                                    {% for type in item.target_types %}{{type | label }}{% if not loop.last %}, {% endif %} {% endfor %}
                                </p>{% endif %}
                            </div>
                            <div class="col-auto">
                                <add-knowledge-menu class="text-muted"
                                    uri="{{item.target}}">
                                </add-knowledge-menu>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="{{url_for('entity.view', uri=rdflib.URIRef(item.target), view='view')}}" class="card-link">View</a>
                        <a href="{{url_for('entity.view', uri=rdflib.URIRef(item.target), view='explore')}}" class="card-link">Explore</a>
                        {% if this.graph.value(rdflib.URIRef(item.source), ns.whyis.hasFileID) %}
                        <a href="{{url_for('entity.view', uri=rdflib.URIRef(item.target))}}" class="card-link">Download</a>
                        {% endif %}
                    </div>
                </div>

                {% endfor %}
                </div>
                {% endfor %}
                {% for link_name, items in incoming | groupby("link_label") %}
                <h2>
                  {% if link_name.lower().endswith(" of") %}
                  {{link_name[:-3].title()}}
                  {% else %}
                  {{link_name.title()}} Of
                  {% endif %}
                </h2>
                <div class="d-flex flex-wrap">
                {% for item in items %}
                <div class="card flex-fill m-1" >
                    {% if this.graph.value(rdflib.URIRef(item.source), ns.foaf.depiction) %}
                        {% set depiction = this.graph.value(rdflib.URIRef(item.source), ns.foaf.depiction) %}
                        {% if depiction.startswith(config['LOD_PREFIX']) %}
                            <img src="{{url_for('entity.view', uri=rdflib.URIRef(depiction))}}" alt="{{item.source_label}}" class="img-fluid">
                        {% else %}
                            <img src="{{depiction}}" alt="{{item.source_label}}" class="img-fluid">
                        {% endif %}
                    {% endif %}
                    <div class="card-header">
                        <div class="row align-items-center mt-2">
                            <div class="col">
                                <h5 class="card-title">{{item.source_label}}</h5>
                                {% if item.source_types | length > 0 %}<p class="text-muted mb-0">
                                    {% for type in item.source_types %}{{type | label}}{% if not loop.last %}, {% endif %} {% endfor %}
                                </p>{% endif %}
                            </div>
                            <div class="col-auto">
                                <add-knowledge-menu class="text-muted"
                                    uri="{{item.source}}">
                                </add-knowledge-menu>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="{{url_for('entity.view', uri=rdflib.URIRef(item.source), view='view')}}" class="card-link">View</a>
                        <a href="{{url_for('entity.view', uri=rdflib.URIRef(item.source), view='explore')}}" class="card-link">Explore</a>
                        {% if this.graph.value(rdflib.URIRef(item.source), ns.whyis.hasFileID) %}
                        <a href="{{url_for('entity.view', uri=rdflib.URIRef(item.source))}}" class="card-link">Download</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        <h2>{{title()}} Instances</h2>
        <album instancetype="{{this.identifier}}"></album>
      </div>
    </div>
{% endblock %}
