<footer class="bg-primary text-white py-3">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <a href="https://tetherless-world.github.io/whyis" class="btn btn-link text-white text-decoration-none" aria-label="Powered by Whyis" title="Powered by Whyis">
          Powered by Whyis
        </a>
      </div>
      <div>
        <a href="http://info.rpi.edu/webaccessibility" class="btn btn-link text-white text-decoration-none" aria-label="Accessibility" title="Accessibility">
          Accessibility
        </a>
      </div>
    </div>
  </div>
</footer>
