<footer class="bg-primary text-white py-3 mt-auto">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <a href="https://tetherless-world.github.io/whyis" class="btn btn-link text-white text-decoration-none" aria-label="Powered by Whyis" title="Powered by Whyis">
          Powered by Whyis
        </a>
      </div>
      <div class="col-md-6 text-end">
        <a href="http://info.rpi.edu/webaccessibility" class="btn btn-link text-white text-decoration-none" aria-label="Accessibility" title="Accessibility">
          Accessibility
        </a>
      </div>
    </div>
  </div>
</footer>
