

{% block content %}

      <div class="row">
          
        </div>
        <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Getting Started with Ontologies</h2>
                    </div>
                    <div class="panel-body">If you are new to Ontologies or to using an Ontology browser - Here are some resources to help:</div>
                    <ul class="list-group">
					 <li><a href="http://www.w3.org/2003/08/owlfaq">Ontology Frequently Asked Questions </a></li>
                          <li> <a href="http://www.ksl.stanford.edu/people/dlm/papers/ontology-tutorial-noy-mcguinness.pdf">Ontology Development 101: A Guide to Creating Your First Ontology</a></li>
						 					  
                    </ul>
                </div>
            </div>
        <div class="col-md-6">

     </div>

{% endblock %}
