{% extends "base.html" %}
{% from "_macros.html" import render_resource_link, render_rdfa_resource_link, get_label, facts_panel, summary_panel, content %}
{% block title %}{{get_label(this.description())}}{% endblock %}
{% block style %}
<link rel="stylesheet" href="/static/bower_components/angular-semantic-faceted-search/dist/semantic-faceted-search.css">
{% endblock %}
{% macro render_class(concept) %}
<ul>
  {% for s in sort_by(concept.subjects(ns.RDFS.subClassOf), ns.RDFS.label) %}
  <li>
     <a title="{{s.value(ns.skos.definition)}}" href="{{s.identifier}}">
       {{s.value(ns.RDFS.label)}}
       {% if not s[ns.RDF.type:ns.hbgd.HBGDkiConcept] %}
       <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
       {% endif %}
     </a>
     {{render_class(s)}}
  </li>
  {% endfor %}
</ul>
{%- endmacro %}

{% block content %}
{{ summary_panel(this.description()) }}
<div class="row">
  <div class="container-fluid col-md-8" ng-controller="OntologyFacetController as vm">
    <section md-whiteframe="2" layout="column" style="min-height: 40em; margin-bottom:1em;">
      <explore flex start="{{this.identifier}}"></explore>
    </section>
    <div class="row">
      <div class="col-md-12">
        <h1>Ontology Classes</h1>
        <div ng-if="vm.error">
          <uib-alert type="danger"><span ng-bind="vm.error"></span></uib-alert>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <!-- Facets are defined here using the configurations defined in the controller -->
        <seco-text-facet data-options="vm.facets.name"></seco-text-facet>
        <seco-text-facet data-options="vm.facets.definition"></seco-text-facet>
        <seco-hierarchy-facet data-options="vm.facets.subclassof"></seco-hierarchy-facet>
      </div>

      <!-- Results view -->
      <div class="col-md-9">
        <img src="/static/images/loading-lg.gif" ng-show="vm.isLoadingResults" />
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Definition</th>
              <th>Super Class</th>
              <th>Ontology</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="class in vm.page">
              <td style="width:21%">
                <resource-link uri="class.id" label="class.label"></resource-link>
              </td>
              <td>
                <p ng-bind="class.definition"></p>
              </td>
              <td><div data-ng-repeat="superclass in class.superclass"><resource-link data-ng-if="superclass.id"  uri="superclass.id" label="superclass.label"></resource-link></div></td>
              <td><div data-ng-repeat="ontology in class.ontology" ><resource-link data-ng-if="ontology.id" uri="ontology.id" label="ontology.label"></resource-link></div></td>
            </tr>
          </tbody>
        </table>
        <!-- Pagination -->
        <uib-pagination
          class="pagination-sm"
          max-size="10"
          boundary-links="true"
          rotate="false"
          total-items="vm.totalCount"
          ng-model="vm.pageNo"
          ng-disabled="vm.isLoadingResults"
          ng-change="vm.getPage()">
        </uib-pagination>
      </div>
    </div>
  </div>
  <kg-card class="col-md-4" src="'{{this.identifier}}'"></kg-card>
</div>

    <script>
      var ontology = "{{this.description().identifier}}";
    </script>
{% endblock %}
