<div class="row">
  <div class="col-md-12">
    <h1>Instances</h1>
    <div ng-if="error">
      <uib-alert type="danger"><span ng-bind="error"></span></uib-alert>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <!-- Facets are defined here using the configurations defined in the controller -->
    <seco-text-facet data-options="facets.name"></seco-text-facet>
    <seco-text-facet data-options="facets.definition"></seco-text-facet>
    <seco-hierarchy-facet data-options="facets.subclassof"></seco-hierarchy-facet>
      </div>

      <!-- Results view -->
      <div class="col-md-9">
        <img src="/static/images/loading-lg.gif" ng-show="isLoadingResults" />
        
        <md-content ng-hide="isLoadingResults">
                  <md-list>
          <md-subheader >Details</md-subheader>
          <md-list-item flex ng-show="selected.length ==0">Select a node or edge to see details.</md-list-item>
          <md-list-item ng-repeat="element in selected" class="md-3-line md-long-text" ng-href="/about?view=view&uri={{element.data().uri}}" Visit {{element.data().label}}>
            <div class="md-list-item-text">
              <h3>{{element.data().label}}</h3>
              <h4><em ng-if="element.data().probability">p={{element.data().probability | number}}</em> <span data-ng-repeat="type in element.data().types">{{ type.label}}<span ng-hide="$last">, </span></h4>
              <p>{{element.data().summary}}</p>
              <md-progress-linear
                 ng-show="element.data().loading - element.data().loaded > 0"
                 md-mode="determinate"
                 value="{{(100.0*element.data().loaded)/(element.data().loaded)}}"></md-progress-linear>
            </div>
          </md-list-item>
        </md-list>

          <md-list flex >
            <md-list-item flex ng-show="page.length ==0">No results found.</md-list-item>
            <md-list-item ng-repeat="entity in page" class="md-3-line md-long-text" ng-href="/about?view=view&uri={{entity.id}}" Visit {{entity.label}}>
	      <div class="md-list-item-text" layout="column">
                <div class="md-list-item-text">
                  <h3>{{entity.label}}</h3>
                  <h4><span data-ng-repeat="type in element.type">{{ type.label}}<span ng-hide="$last">, </span></h4>
                  <p>{{element.description}}</p>
                <h3><a href="/about?view=view&uri={{entity.id}}">{{entity.label}}</a></h3>
                <h4 md-truncate>
                  <span data-ng-repeat="type in entity.types">
                    {{ type.label}}
                    <span ng-hide="$last">, </span>
                  </span>
                </h4>
	        <p>{{ entity.description }}</p>
	      </div>
	    </md-list-item>
          </md-list>
        </md-content>
        <!-- Pagination -->
        <uib-pagination
          class="pagination-sm"
          max-size="10"
          boundary-links="true"
          rotate="false"
          total-items="totalCount"
          ng-model="pageNo"
          ng-disabled="isLoadingResults"
          ng-change="getPage()">
        </uib-pagination>
      </div>
    </div>
  </div>
