<div ng-cloak md-whiteframe="2"  style="height:100%" layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools" layout="row">
      <h2 flex ng-bind="title"></h2>
      <ng-transclude>
      </ng-transclude>
      <md-button class="md-mini md-icon-button"
                 ng-class="{'md-primary' : view=='list'}"
                 aria-label="List View"
                 title="List View"
                 data-ng-click="view='list'">
        <md-icon>view_list</md-icon>
      </md-button>
      <md-button class="md-mini md-icon-button"
                 ng-class="{'md-primary' : view=='table'}"
                 aria-label="Table View"
                 title="Table View"
                 data-ng-click="view='table'">
        <md-icon>table_chart</md-icon>
      </md-button>
      <md-button class=" md-mini md-icon-button"
                 ng-class="{'md-primary' : view=='chart'}"
                 aria-label="Chart View"
                 title="Chart View"
                 data-ng-click="view='chart'">
        <md-icon>show_chart</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-progress-linear ng-show="isLoadingResults" md-mode="indeterminate"></md-progress-linear>
  <uib-alert flex ng-if="error" type="danger"><span ng-bind="error"></span></uib-alert>
  <div layout="row" flex>
    <md-content flex="30" style="overflow:scroll">
      <md-subheader ng-show="pager.numItems">{{pager.getLength()}} results found.</md-subheader>
      <vega-controller spec="vizConfig" facet-values="facetValues" ng-show="view=='chart'" ></vega-controller>
      <!-- Facets are defined here using the configurations defined in the controller -->
        <div ng-repeat="facet in facets" ng-switch="facet.type">
          <whyis-text-facet ng-switch-when="text" data-options="facet"></whyis-text-facet>
          <whyis-smart-facet ng-switch-when="basic" data-options="facet"></seco-basic-facet>
          <seco-hierarchy-facet ng-switch-when="hierarchy"  data-options="facet"></seco-hierarchy-facet>
          <seco-checkbox-facet ng-switch-when="checkbox"  data-options="facet"></seco-checkbox-facet>
          <seco-timespan-facet ng-switch-when="timespan"  data-options="facet"></seco-timespan-facet>
        </div>
    </md-content>

    <!-- Results view -->
    <div flex="grow" layout="column" >
      
      <md-content layout="column" when-scrolled="pager.loadMore()" ng-if="view=='list'" ng-show="view=='list'" >
        <kg-card ng-repeat="entity in pager.all track by entity.id" compact="true" src="entity.id">
        </kg-card>
      </md-content>
      <md-content layout="column" ng-if="view=='chart'" ng-show="view=='chart'" >
        <vega spec="vizConfig" viewBox="0 0 60 55"></vega>
      </md-content>
      <md-content layout="column" ng-if="view=='table'" ng-show="view=='table'" >
        <table class="table">
          <thead>
            <th scope="col">Identifier</th>
            <th ng-repeat="facet in facetValues">{{facet.name}} <span ng-if="facet.unit_label">{{facet.unit_label}}</span></th>
          </thead>
          <tbody>
            <tr ng-repeat="row in vizConfig.data.values">
              <td scope="row">{{row['id']}}</td>
              <td ng-repeat="facet in facetValues">{{row[facet.field]}}</td>
            </tr>
          </tbody>
        </table>
      </md-content>
    </div>
  </div>
</div>
