<newnanopub data-ng-if="current_user.uri" data-ng-hide="disableNanopubing" verb="Add" nanopub="newNanopub" on-save="createNanopub(newNanopub)"/>

<div data-ng-hide="disableNanopubing || current_user.uri" class="alert alert-warning" role="alert">Please log in or register to add knowledge.</div>

<div class="modal fade" id="deleteNanopubModal" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">Are you sure you want to delete this nanopub?</div>
      <div class="modal-footer">
        <button class="btn btn-link" type="button" data-ng-click="delete(toDelete)" data-dismiss="modal" >
          Yes
        </button>
        <button class="btn btn-link" type="button" data-ng-click="toDelete = null" data-dismiss="modal" >
          No
        </button>
      </div>
      
    </div>
  </div>
</div>

<div style="background-color: white">
  <blockquote data-ng-repeat="nanopub in nanopubs">
    <div class="dropdown pull-right" data-ng-if="canEdit(nanopub)" data-ng-hide="nanopub.editing && !disableNanopubing" >
      <button class="btn btn-link dropdown-toggle btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </button>
      <ul class="dropdown-menu" >
        <li><a href="#" data-ng-click="editNanopub(nanopub)">Edit</a></li>
        <li><a href="#" data-ng-click="deleteNanopub(nanopub)">Delete</a></li>
      </ul>
    </div>

    <div data-ng-if="nanopub.editing" >
      <newnanopub verb="Edit" nanopub="nanopub" editing="true" on-save="saveNanopub(nanopub)"/>
    </div>
    <div data-ng-hide="nanopub.editing" data-ng-bind-html="trust(nanopub.content)"></div>
    <footer>
      <span data-ng-if="nanopub.contributor">
        <!--<span data-ng-bind="contributor.value('http://xmlns.com/foaf/0.1/givenName')"/>
        <span data-ng-bind="contributor.value('http://xmlns.com/foaf/0.1/familyName')"/>-->
        <span data-ng-bind="getLabel(nanopub.contributor)"/>
      </span>
      <span data-ng-if="nanopub.generation_type">
        <!--<span data-ng-bind="contributor.value('http://xmlns.com/foaf/0.1/givenName')"/>
        <span data-ng-bind="contributor.value('http://xmlns.com/foaf/0.1/familyName')"/>-->
        created using <span data-ng-bind="getLabel(nanopub.generation_type)"/>
      </span>
          (<span data-ng-show="nanopub.modified">Edited <span data-ng-bind="nanopub.modified | date"/>
          </span><span data-ng-hide="nanopub.modified" data-ng-bind="nanopub.created | date"/>)
      <span data-ng-if="nanopub.generation_type">
        <!--<span data-ng-bind="contributor.value('http://xmlns.com/foaf/0.1/givenName')"/>
        <span data-ng-bind="contributor.value('http://xmlns.com/foaf/0.1/familyName')"/>-->
        created using <span data-ng-bind="getLabel(nanopub.generation_type)"/>
      </span>
    </footer>
    <newnanopub verb="Reply" nanopub="nanopub.newNanopub" on-save="createNanopub(nanopub.newNanopub)"/>
    <div>
      <blockquote style="font-size:0.8em" data-ng-repeat="reply in nanopub.replies">
        <div class="dropdown pull-right" data-ng-hide="reply.editing" data-ng-if="canEdit(reply) && !disableNanopubing">
          <button class="btn btn-link dropdown-toggle btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="glyphicon glyphicon-chevron-down"></span>
          </button>
          <ul class="dropdown-menu" >
            <li><a href="#" data-ng-click="editNanopub(reply)">Edit</a></li>
            <li><a href="#" data-ng-click="deleteNanopub(reply)">Delete</a></li>
          </ul>
        </div>
        <div data-ng-if="reply.editing" >
          <newnanopub verb="Edit" editing="true" nanopub="reply" on-save="saveNanopub(reply)"/>
        </div>
        <div data-ng-hide="reply.editing" data-ng-bind-html="trust(reply.content)"></div>
        <footer>
          <span >
            <!--<span data-ng-bind="contributor.value('http://xmlns.com/foaf/0.1/givenName')"/>
            <span data-ng-bind="contributor.value('http://xmlns.com/foaf/0.1/familyName')"/>-->
            <span data-ng-if="reply.contributor" data-ng-bind="getLabel(reply.contributor)"/>
          </span>
          (<span data-ng-show="reply.modified">Edited <span data-ng-bind="reply.modified | date"/>
          </span><span data-ng-hide="reply.modified" data-ng-bind="reply.created | date"/>)
        </footer>
      </blockquote>
    </div>
  </blockquote>
</div>
