<div class="autocomplete md-padding" >
  <label id="facet{{vm.facet.facetId}}Label">{{vm.facet.name}}</label>
  <md-chips  layout="column"
            ng-model="vm.facet.selected"
            md-require-match="true"
            md-transform-chip="$chip"
            md-on-add="vm.changed()"
            md-on-remove="vm.changed()"
            md-autocomplete-snap="width"
     >
    <md-autocomplete flex
       md-selected-item="vm.facet.selectedItem"
       md-search-text="vm.facet.searchText"
       md-min-length="0"
       placeholder="+"
       input-aria-describedby="facet{{vm.facet.facetId}}Label"
       md-items="item in vm.facet.search(vm.facet.searchText, vm.facet.getState() | orderBy:'-count')"
       md-item-text="item.name" >
      <span md-highlight-text="vm.facet.searchText" md-highlight-flags="^i">{{ item.name }} {{item.unit_label}}</span>
    </md-autocomplete>
    <md-chip-template>
      <span>{{ $chip.name }} <span ng-if="$chip.unit_label">({{$chip.unit_label}})</span></span>
    <!--<md-menu>
      <md-button aria-label="Inclusion criteria menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
        <md-icon ng-show="$chip.selectionType == 'Include'">add_circle</md-icon>
        <md-icon ng-show="$chip.selectionType == 'Require'">label_important</md-icon>
        <md-icon ng-show="$chip.selectionType == 'Exclude'">remove_circle</md-icon>
        <md-icon ng-show="$chip.selectionType == 'Show'">pageview</md-icon>
      </md-button>
      <md-menu-content>
        <md-menu-item>
          <md-button ng-click="$chip.selectionType = 'Include'">
            <md-icon>add_circle</md-icon>
            Include this value
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="$chip.selectionType = 'Require'">
            <md-icon>label_important</md-icon>
            Require this value
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="$chip.selectionType = 'Exclude'">
            <md-icon>remove_circle</md-icon>
            Exclude this value
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="$chip.selectionType = 'Show'">
            <md-icon>pageview</md-icon>
            Show this value
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>-->
    </md-chip-template>
  </md-chips>
  <md-progress-linear md-mode="indeterminate" ng-show="vm.isLoading()"></md-progress-linear>
  <md-toolbar class="md-warn" ng-if="vm.error">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">{{ vm.error|limitTo:100 }}</h2>
    </div>
  </md-toolbar>
</div>
