<div layout="column">
  <md-input-container>
    <label>View</label>
    <md-select ng-model="selectedView">
      <md-option ng-repeat="view in views" ng-value="view">
        {{view.label}}
      </md-option>
    </md-select>
  </md-input-container>

  <div layout="row" flex>
  <md-input-container ng-show="selectedView.encoding.x" flex>
    <label>X Axis</label>
    <md-select ng-model="variables.x">
      <md-option><em>None</em></md-option>
      <md-option ng-repeat="variable in facetValues track by variable.field" ng-value="variable">
        {{variable.name}}
      </md-option>
    </md-select>
  </md-input-container>
  
  <md-input-container ng-show="selectedView.encoding.y" flex>
    <label>Y Axis</label>
    <md-select ng-model="variables.y">
      <md-option><em>None</em></md-option>
      <md-option ng-repeat="variable in facetValues track by variable.field" ng-value="variable">
        {{variable.name}}
      </md-option>
    </md-select>
  </md-input-container>
  </div>

  <div layout="row" flex>
  <md-input-container ng-show="selectedView.encoding.size" flex>
    <label>Size</label>
    <md-select ng-model="variables.size">
      <md-option><em>None</em></md-option>
      <md-option ng-repeat="variable in facetValues  track by variable.field" ng-value="variable">
        {{variable.name}}
      </md-option>
    </md-select>
  </md-input-container>
  <md-input-container ng-show="selectedView.encoding.color" flex>
    <label>Color</label>
    <md-select ng-model="variables.color">
      <md-option><em>None</em></md-option>
      <md-option ng-repeat="variable in facetValues track by variable.field" ng-value="variable">
        {{variable.name}}
      </md-option>
    </md-select>
  </md-input-container>
  </div>
</div>
